{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Ваша корзина покупок</h1>
    {% for item in cart %}
        {% with product=item.product %}
            {{ product.title }}
        {% endwith %}
    {% endfor %}
    <table class="cart">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Наименованиеt</th>
            <th>Кол-во</th>
            <th>Удалить</th>
            <th>Цена</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}
                            {% else %}
                            No foto
{#                                {{ product.image.url }}#}
                            {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                            <input type="submit" value="Remove">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого:</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="#" class="button light">Продолжить</a>
        <a href="{% url 'orders:order_create' %}" class="button">Оформить</a>
    </p>
{% endblock %}

