{% extends 'base.html' %}
{% load shop_tags %}
{% load static %}
{#{% block sidebar %}#}
{#    {% tag_categories %}#}
{#{% endblock %}#}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>{{ now }}</h1>
    {% for product in products %}
        {% if product.image %}
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a>
        {% else %}
            <a href="{{ product.get_absolute_url }}"><img src="{% static '/shop/img/noimg.png' %}"
                                                          alt="{{ product.title }}"></a>
        {% endif %}
        <h2><a href="{{ product.get_absolute_url }}">{{ product }}</a></h2>
    {% endfor %}
    <h2>Пагинация</h2>
{% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                &raquo;</a></li>
        {% endif %}

    </ul>
{% endif %}
{% endblock %}

